
body {
	margin: 0;
	font-family: monospace;
}

* {
	box-sizing: border-box;
}

a {
	color: #848484;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: rgb(245, 105, 215);
}



/* */


.view {
	margin: 200px 20px 200px 300px
}

.view__title__container {
	position: fixed;
	top: 40px;
	left: 40px;
}

.view__title {
	font-weight: lighter;
}

.view__tag-line {
	max-width: 250px;
}
